AddDefaultCharset UTF-8

RewriteEngine on
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [L]
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

DirectoryIndex main.php

#<IfModule mod_headers.c>
        #Header append Cache-Control "no-store, no-cache, must-revalidate"
#</IfModule>
 
#<IfModule mod_expires.c>
        #ExpiresActive On ExpiresDefault "now"
#</IfModule>